@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,700;1,400&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: Lato, "Helvetica Neue", Helvetica, sans-serif;
}

.container {
  max-width: 1300px;
  margin: 0px auto;
}

.title {
  font-size: 40px;
  line-height: 2;
  letter-spacing: 1.2px;
  font-weight: bold;
}

@media (max-width: 500px) {
  .title {
    font-size: 30px;
    line-height: 1.2;
  }
}
.subtitle {
  font-size: 20px;
  color: #234;
}

.fullscreen {
  min-height: 100vh;
  background: url("..//img/background.jpg") left/cover no-repeat;
}
.fullscreen__body {
  display: flex;
  flex-direction: column;
}
.fullscreen__header {
  flex: 1 1 80px;
}
.fullscreen__wrap {
  flex: 1 1 auto;
  display: flex;
  height: 700px;
  align-items: center;
}
.fullscreen__title {
  flex: 1 1 auto;
}
.fullscreen__logo {
  flex: 0 0 50px;
}
@media (max-width: 1000px) {
  .fullscreen__body {
    display: inline-block;
    width: 100%;
    text-align: center;
  }
  .fullscreen__wrap {
    display: inline-block;
    padding: 120px 0 0 0;
  }
  .fullscreen__title {
    display: inline-block;
    text-align: center;
  }
}

.header__body {
  display: flex;
  align-items: center;
}
.header__logo {
  padding: 20px;
}
.header__logo img {
  max-width: 80px;
}
.header__menu {
  width: 100%;
  padding: 0 30px 0 70px;
}
.header__list {
  display: flex;
  justify-content: space-between;
}
.header__link {
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
}
@media (max-width: 1000px) {
  .header__menu {
    display: none;
  }
  .header__logo {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .header__logo img {
    max-width: 100px;
  }
}

.title__body {
  padding: 0 40px;
}
.title__title {
  max-width: 900px;
  font-size: 60px;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1.5;
  font-weight: bold;
  color: #fff;
}
.title__subtitle {
  font-style: italic;
  color: #fffddd;
  font-size: 20px;
  padding: 0 0 30px 0;
}
.title__send {
  display: flex;
  align-items: center;
  font-size: 18px;
  color: #fff;
}
.title__btn {
  background-color: #fffddd;
  color: #000;
  text-transform: uppercase;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 5px;
}
.title__send p {
  padding: 0 20px;
  font-size: 25px;
}
.title__phonenumber {
  text-decoration: underline;
  color: #fff;
}
@media (max-width: 1000px) {
  .title__body {
    padding: 0px;
    text-align: center;
  }
  .title__send {
    display: inline-block;
  }
  .title__send p {
    display: inline-block;
  }
  .title__btn {
    padding: 10px 20px;
  }
  .title__title {
    font-size: 50px;
  }
}
@media (max-width: 500px) {
  .title__send p {
    display: block;
    padding: 30px 0;
  }
  .title__title {
    font-size: 35px;
  }
}

.logo__body {
  position: relative;
  right: 40%;
}
.logo__body img {
  padding: 15px 0;
  transition: all 0.5s ease 0s;
}
.logo__body img:hover {
  transform: translate(0, -3px);
}
@media (max-width: 1000px) {
  .logo__body {
    right: 0;
    text-align: center;
    padding: 50px 0;
  }
}

.registration {
  background-color: #fffddd;
}
.registration__body {
  text-align: center;
  padding: 5% 0;
}
.registration__logo img {
  max-width: 60px;
}
.registration__title h2 {
  font-weight: bold;
}
.registration__subtitle {
  padding: 0 0 30px 0;
}
.registration__form input {
  font-size: 20px;
  padding: 10px 10px;
  margin: 0 10px;
  width: 200px;
  border-radius: 3px;
}
.registration ::-moz-placeholder {
  color: #345;
}
.registration :-ms-input-placeholder {
  color: #345;
}
.registration ::placeholder {
  color: #345;
}
.registration__btn {
  background-color: #000;
  color: #fff;
  transition: all 0.5s ease 0s;
}
.registration__btn:hover {
  background-color: #345;
  transform: translate(0px, 3px);
}
.registration__footer {
  padding: 30px 5px 0 5px;
}
.registration__footer a {
  text-decoration: underline;
  color: #000;
}
@media (max-width: 900px) {
  .registration__form {
    text-align: center;
  }
  .registration__form input {
    display: inline-block;
    width: 80%;
    text-align: center;
    margin: 10px 0;
  }
  .registration__form input:last-child {
    width: 30%;
  }
}
@media (max-width: 500px) {
  .registration__form input:last-child {
    width: 80%;
  }
}

.programs {
  background-color: #fafafa;
  padding: 40px 0 80px 0;
}
.programs__body {
  text-align: center;
}
.programs__logo img {
  max-width: 50px;
}
.programs__title h2 {
  font-weight: bold;
}
.programs__subtitle {
  padding: 0 0 40px 0;
  font-style: italic;
}
.programs__wrapper {
  display: flex;
}
.programs__column {
  flex: 0 1 33.3333%;
  margin: 0 10px;
  background-color: #fff;
  box-shadow: 2px 2px 5px #999;
  padding: 0 0 40px 0;
  transition: all 0.5s ease 0s;
}
.programs__column:hover {
  transform: translate(0, -10px);
}
@media (max-width: 1000px) {
  .programs__wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }
  .programs__column {
    flex: 0 1 47%;
    margin: 0 10px 20px 10px;
  }
}
@media (max-width: 800px) {
  .programs__wrapper {
    display: block;
  }
}

.column__title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 24px;
  padding: 20px 0 10px 0;
}
.column__video {
  padding: 10px 20px;
}
.column__media {
  max-width: 100%;
}
.column__text {
  font-size: 18px;
  line-height: 24px;
  padding: 10px 20px;
  text-align: center;
  color: #234;
}
.column__price {
  font-size: 22px;
  font-weight: bold;
  padding: 5px 0 30px 0;
}
.column__btn {
  background-color: #fffddd;
  text-transform: uppercase;
  padding: 10px 30px;
  font-size: 20px;
  border-radius: 10px;
  color: #000;
}

.advantage {
  background-color: #fafafa;
}
.advantage__body {
  display: flex;
  background-color: #f7f7f7;
}
.advantage__item {
  flex: 0 1 33.3333%;
  text-align: center;
  padding: 0 40px;
}
.advantage__title {
  padding: 10px 0;
  font-size: 28px;
  line-height: 2;
  font-weight: bold;
  font-style: italic;
}
.advantage__text {
  font-size: 24px;
  line-height: 30px;
}
.advantage__pyramid {
  text-align: center;
  padding: 100px 0;
}
@media (max-width: 1000px) {
  .advantage__body {
    display: inline-block;
    text-align: center;
    width: 100%;
    padding: 30px 0;
  }
  .advantage__pyramid {
    padding: 50px 0;
  }
}

.pyramid__title {
  font-weight: bold;
}
.linear {
  padding: 30px 30px;
  font-size: 24px;
  margin: 30px 0;
  transition: all 1s ease 0s;
}

.linear:hover {
  transform: translate(10px, 0);
}

.linear a {
  padding: 30px 30px;
  color: #000;
  box-shadow: 2px 2px 5px #fafafa;
}

.item__first a {
  background-color: #fcffd9;
}
.item__second a {
  background-color: #faffc2;
}
.item__third a {
  background-color: #f9ffb5;
}
.item__fourth a {
  background-color: #f7ffa3;
}

@media (max-width: 800px) {
  .linear a {
    display: block;
  }
  .linear {
    padding: 0 10px;
    font-size: 20px;
  }
}
.history__wrapper {
  display: flex;
  position: relative;
}
.history__background {
  flex: 0 1 50%;
  background-color: #fafafa;
}
.history__photo {
  flex: 0 1 50%;
  position: relative;
  padding: 0 0 33% 0;
}
.history__photo img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.history__row {
  position: absolute;
  top: 0;
  left: 0;
  width: 55%;
  background-color: #fafafa;
  padding: 0 0 0 15%;
  max-height: 100%;
}
.history__title {
  padding: 50px 0 20px 0;
}
.history__text {
  font-size: 20px;
  line-height: 28px;
  padding: 0 70px 0 0;
}
.history__text p {
  padding: 0 0 20px 0;
}
.history__logo {
  padding: 30px 0 20px 0;
}
.history__logo img {
  padding: 0px 10px;
  transition: all 0.5s ease 0s;
}
.history__logo img:hover {
  transform: translate(0, -3px);
}
.history__slide {
  position: relative;
}
.history__slide:after, .history__slide:before, .history__slide span {
  content: "";
  position: absolute;
  top: -40px;
  width: 6px;
  height: 6px;
  background-color: #999;
  border-radius: 50%;
}
.history__slide:after {
  right: 200px;
}
.history__slide:before {
  right: 230px;
}
.history__slide span {
  right: 260px;
}
@media (max-width: 1700px) {
  .history__row {
    padding: 0 0 0 10%;
  }
  .history__title {
    padding: 0px 0 10px 0;
  }
}
@media (max-width: 1500px) {
  .history__row {
    padding: 0 0 0 7%;
  }
  .history__logo {
    padding: 10px 0 0 0;
  }
  .history__text p {
    padding: 0 0 10px 0;
  }
}
@media (max-width: 1400px) {
  .history__wrapper {
    flex-direction: column;
  }
  .history__row {
    position: relative;
    width: 100%;
    padding: 3% 0 3% 7%;
  }
  .history__logo {
    padding: 30px 0 20px 0;
  }
  .history__title {
    padding: 10px 0;
    line-height: 1.2;
  }
  .history__slide {
    display: none;
  }
}
@media (max-width: 600px) {
  .history__text {
    font-size: 16px;
    line-height: 24px;
    padding: 0 20px 0 0;
  }
}

.about {
  background-color: #f7f7f7;
  padding: 15px 0;
}
.about__body {
  display: flex;
  justify-content: space-between;
}
.about__item {
  text-align: center;
  padding: 20px;
}
.about__number {
  font-weight: bold;
  font-size: 35px;
  text-transform: uppercase;
  line-height: 2;
}
.about__text {
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 1.5px;
}
@media (max-width: 1000px) {
  .about__item {
    flex: 0 1 50%;
  }
  .about__body {
    flex-wrap: wrap;
  }
}
@media (max-width: 600px) {
  .about__body {
    display: inline-block;
    text-align: center;
  }
}

.reviews {
  background-color: #fafafa;
}
.reviews__body {
  text-align: center;
  padding: 50px 0;
}
.reviews__logo {
  padding: 20px 0 0 0;
}
.reviews__logo img {
  max-width: 50px;
}
.reviews__title {
  padding: 0 0 20px 0;
}
.reviews__row {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, auto));
  -moz-column-gap: 50px;
       column-gap: 50px;
  row-gap: 40px;
}
.reviews__item {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 2px 3px 5px #fafafa;
  padding: 20px;
  position: relative;
}
@media (max-width: 900px) {
  .reviews__row {
    grid-template-columns: repeat(1, minmax(200px, auto));
  }
  .reviews__item {
    margin: 0 30px;
  }
}
@media (max-width: 450px) {
  .reviews__item {
    padding: 0;
    margin: 0 10px;
  }
}

.item__text {
  padding: 20px 60px 50px 30px;
  font-size: 19px;
  line-height: 30px;
  color: #234;
  text-align: left;
}
.item__text p:first-letter {
  font-size: 45px;
  color: #fff;
  background-color: #33c4c4;
  text-transform: uppercase;
  font-weight: bold;
  vertical-align: text-top;
  float: left;
  padding: 20px;
  margin: 8px 8px 0 0;
}
.item__subtitle {
  position: absolute;
  bottom: 25px;
  left: 40px;
  font-size: 14px;
  text-transform: uppercase;
  color: #444394;
  font-weight: bold;
}
.item__image {
  position: absolute;
  bottom: 0px;
  right: 40px;
}
.item__image img {
  max-width: 70px;
}
@media (max-width: 450px) {
  .item__text {
    padding: 20px 20px 70px 20px;
    align-items: justify;
  }
  .item__image {
    bottom: -20px;
    left: 40px;
  }
  .item__subtitle {
    bottom: 35px;
  }
  .item__text {
    font-size: 16px;
  }
}

.first p:first-letter {
  background-color: #8B0000;
}

.second p:first-letter {
  background-color: #4682B4;
}

.third p:first-letter {
  background-color: #D2691E;
}

.gallery {
  background-color: #fafafa;
}
.gallery__body {
  text-align: center;
  padding: 50px 0;
}
.gallery__title {
  padding: 0 0 20px 0;
}
.gallery__row {
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  gap: 20px;
}
.gallery__image {
  position: relative;
  padding: 0 0 85% 0;
}
.gallery__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  transition: all 0.5s ease 0s;
  z-index: 3;
}
.gallery__big {
  grid-column: span 2;
  padding: 0 0 46% 0;
}
.gallery__image img:hover {
  transform: scale(0.8, 0.8);
  z-index: 1;
  transition: all 0.5s ease 0s;
}
.gallery__footer {
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  color: #987;
  z-index: 2;
  background-color: rgba(125, 119, 119, 0.5);
  color: #fff;
  width: 100%;
  line-height: 3;
  font-size: 20px;
}
.gallery__study {
  text-align: center;
  padding: 50px 0;
}
@media (max-width: 550px) {
  .gallery__row {
    display: block;
  }
  .gallery__image {
    margin: 20px;
    padding: 0 0 55% 0;
  }
  .gallery__image img {
    z-index: 1;
  }
}

.study__title {
  padding: 20px 0 30px 0;
  position: relative;
}
.study__title:before {
  content: "";
  position: absolute;
  top: 0;
  left: 10%;
  width: 80%;
  height: 5px;
  background-color: #D2691E;
}
.study__movie {
  display: flex;
  justify-content: center;
  padding: 0 10px;
}
.study__video {
  max-width: 800px;
}

.contacts {
  background-color: #FFD700;
}
.contacts__body {
  max-width: 1100px;
  margin: 0px auto;
  text-align: center;
  padding: 50px 0;
}
.contacts__logo img {
  max-width: 50px;
}
.contacts__title h2 {
  font-weight: bold;
  padding: 0 0 30px 0;
}
.contacts__row {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}
.contacts__mobile {
  font-size: 18px;
  text-align: center;
}
.contacts__text {
  padding: 0 0 20px 0;
}
.contacts__number {
  text-decoration: underline;
  color: #fff;
  font-weight: bold;
  font-size: 34px;
}
.contacts__date {
  padding: 40px 0;
}
.contacts__form {
  border: 7px solid #fff;
  padding: 30px 0;
  margin: 0 20px;
}
.contacts__image {
  padding: 40px 0;
}
@media (max-width: 700px) {
  .contacts__row {
    display: inline-block;
    text-align: center;
  }
  .contacts__number {
    line-height: 1.5;
  }
}

.footer {
  background-color: #fafafa;
}
.footer__body {
  text-align: center;
  padding: 30px 0;
  font-size: 13px;
  line-height: 24px;
}
.footer__logo {
  padding: 20px 0 20px 0;
}
.footer__logo img {
  max-width: 80px;
}
.footer__text {
  padding: 0 0 20px 0;
}